main {
	min-height: 100vh;
	padding: 2rem 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.card {
	height: 14rem;
	background-color: var(--card-color);
	border-radius: 0.75rem;
	opacity: 0.9;
	margin: 1rem auto;
	width: 25rem;
}
.pokemon-img {
	display: block;
	width: 9rem;
	margin: 0 auto;
}

.card-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 2rem;
}
.title {
	color: white;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.category {
	margin-top: 0.5rem;
	display: flex;
}
.category span {
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-transform: capitalize;
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 992px) {
	.card {
		width: 30%;
	}
	.card-info {
		padding: 0.5rem;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
	.card {
		max-width: 20rem;
	}
}

.grass {
	background-color: lightgreen;
	color: white;
}
.normal {
	background-color: rgb(12, 184, 236);
	color: white;
}
.fairy {
	background-color: white;
	color: black;
}
.fire {
	background-color: rgb(184, 84, 84);
	color: white;
}
.poison {
	background-color: rgb(133, 69, 133);
	color: white;
}
.electric {
	background-color: rgb(163, 163, 83);
	color: white;
}
.ground {
	background-color: burlywood;
	color: white;
}
.water {
	background-color: lightblue;
}
.bug {
	background-color: lightpink;
}
