*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--light-yellow: #ffe61b;
	--orange: #ffb72b;
	--background-color: #f7f7f7;
}
body {
	background-color: var(--background-color);
}
