*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--light-yellow: #ffe61b;
	--orange: #ffb72b;
	--background-color: #495371;
	--card-color: #21325e;
	--header: #7882a4;
	--footer-color: #7882a4;
}

body {
	background-color: var(--background-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	position: fixed;
	padding: 0.25rem 1rem;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	z-index: 10;
	background-color: var(--header);
}
.header select {
	width: 8rem;
	height: 1.5rem;
	margin-right: 2rem;
}
.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.logo img {
	height: 3rem;
	width: 3rem;
}
.logo span {
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--orange);
}

footer {
	display: flex;
	padding: 10px;
	justify-content: center;
	background-color: var(--footer-color);
}

.footer-logo-img {
	height: 80px;
	width: 80px;
}

.contributor-list {
	list-style-type: none;
	display: flex;
}

.profile-photo {
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 30px;
	margin-right: 1rem;
}
.footer-links-container {
	margin-left: 20px;
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.mx-10 {
	margin-right: 10px;
	margin-left: 10px;
}

.my-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.white {
	color: white;
}
