*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-yellow: #ffe61b;
  --orange: #ffb72b;
  --background-color: #495371;
  --card-color: #21325e;
  --header: #7882a4;
  --footer-color: #7882a4;
}

body {
  background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  padding: 0.25rem 1rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
  background-color: var(--header);
}

.header select {
  width: 8rem;
  height: 2rem;
  margin-right: 2rem;
  outline: none;
  background-color: var(--header);
  border: 1px solid var(--card-color);
  border-radius: 4px;
  color: white;
  padding-left: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 3rem;
  width: 3rem;
}

.logo span {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--orange);
}

.site-title {
  margin-top: 4rem;
  text-align: center;
}

.site-title h2 {
  color: var(--light-yellow);
  padding: 1rem;
}

.site-title p {
  font-size: 1.2rem;
  padding: 0 1rem;
  color: white;
}

.highlight {
  color: var(--orange);
  font-weight: bold;
}

footer {
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: var(--footer-color);
}

.footer-logo-img {
  height: 80px;
  width: 80px;
}

.contributor-list {
  list-style-type: none;
  display: flex;
}

.profile-photo {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 1rem;
}

.footer-links-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.white {
  color: white;
}

.popup-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: relative;
  width: 90vw;
  background-color: var(--card-color);
  border-radius: 0.75rem;
  margin: 5% auto;
  z-index: 11;
}

.each-stat {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

svg {
  height: 2rem;
  width: 2rem;
  color: var(--light-yellow);
}

.close-btn {
  text-align: left;
  margin-left: 90%;
  margin-top: 1.5rem;
  cursor: pointer;
  color: white;
}

.popup-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.popup-img img {
  width: 14rem;
  height: 14rem;
}
/* stylelint-disable */
li span {
  font-size: 1.25rem;
  color: white;
}
/* stylelint-enable */
.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.type-popup {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
}

.popup-title {
  color: white;
  font-size: 1.25rem;
}

.popup-form {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.messages {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  color: white;
  gap: 0.5rem;
  background-color: var(--background-color);
  border: 2px solid var(--background-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.username {
  color: yellow;
  text-decoration: underline;
  font-size: 1.15rem;
}

.user-message {
  font-size: 1.15rem;
}

.date {
  font-size: 1rem;
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 50%;
  height: 2rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
}

textarea {
  height: 4rem;
  width: 70%;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 1rem;
}

textarea::placeholder,
input::placeholder {
  color: white;
  font-size: 1rem;
}

ul h3 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.comment-btn {
  padding: 0.75rem;
  font-size: 1rem;
  background: transparent;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .popup {
    max-width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .popup {
    max-width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .site-title h2 {
    font-size: 2rem;
  }

  .site-title p {
    font-size: 1.8rem;
  }

  .popup {
    width: 85vw;
  }

  .type-popup {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.4rem;
  }

  .popup-header {
    justify-content: flex-end;
    margin-right: 10%;
    gap: 10rem;
  }

  .popup-title {
    font-size: 1.75rem;
  }

  ul h3 {
    font-size: 1.5rem;
  }

  svg {
    height: 3.5rem;
    width: 3.5rem;
  }

  .popup-img img {
    width: 20rem;
    height: 20rem;
  }

  .close-btn {
    margin-left: 92%;
  }

  .popup-img {
    gap: 2rem;
  }

  li span {
    font-size: 2rem;
  }

  .popup-form {
    width: 60%;
  }

  .messages {
    gap: 1.25rem;
  }

  form {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
  }

  .comment-btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}

main {
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card {
  height: 14rem;
  background-color: var(--card-color);
  border-radius: 0.75rem;
  opacity: 0.9;
  margin: 1rem auto;
  width: 25rem;
  cursor: pointer;
}

.pokemon-img {
  display: block;
  width: 9rem;
  margin: 0 auto;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
}

.title {
  color: white;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.category {
  margin-top: 0.5rem;
  display: flex;
}

.category span {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-right: 0.25rem;
}

.likes {
  font-size: 1.5rem;
  position: relative;
}

.count {
  color: white;
  position: absolute;
  top: 70%;
  right: 10%;
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 992px) {
  .card {
    width: 30%;
  }

  .card-info {
    padding: 0.5rem;
  }

  main {
    margin-top: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
  .card {
    max-width: 20rem;
  }
}

.grass {
  background-color: lightgreen;
}

.normal {
  background-color: rgb(226, 231, 177);
}

.fairy {
  background-color: white;
  color: black;
}

.fire {
  background-color: red;
  color: white;
}

.poison {
  background-color: rgb(133, 69, 133);
  color: white;
}

.electric {
  background-color: rgb(233, 233, 17);
}

.ground {
  background-color: burlywood;
  color: white;
}

.water {
  background-color: lightblue;
}

.bug {
  background-color: lightpink;
}

.ghost {
  background-color: grey;
}

.rock {
  background-color: rgb(63, 18, 18);
  color: white;
}

.steel {
  background-color: silver;
}

.ice {
  background-color: rgb(12, 184, 236);
}

.dark {
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
}

.dragon {
  background-color: rgb(184, 84, 84);
  color: white;
}

.psychic {
  background-color: rgba(48, 2, 109, 0.418);
  color: white;
}

.fighting {
  background-color: teal;
}

.flying {
  background-color: skyblue;
}


.spinner-section {
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

.spinner {
  height: 60px;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

